# PHYS 1002: Computational Lab 1

## 1. Working in Jupyter notebooks

This document is a _Jupyter notebook_. It is an interactive document combining formatted text (as well as equations etc) with code and output.

If you have used Mathematica you should find the Jupyter notebook somewhat familiar. (This is not a coincidence: the Jupyter project was inspired by the Mathematica notebook interface and enabled by the expiration of the latter's patent!)

The document is comprised of a series of _cells_. Try clicking (once) anywhere on this paragraph. You should see a frame appear, showing the border of this cell. If you double-click, you'll enter editing mode (press Shift+Enter to get back to normal).

There are two basic types of cell in a Jupyter notebook:

1. _Code cells:_ contain (Python) code that can be evaluated by pressing Shift+Enter.

2. _Markdown cells:_ contain formatted text, headings, equations etc. These use the [Markdown](https://en.wikipedia.org/wiki/Markdown) format, which is a standard format for creating rich text widely used in the programming world. Pressing Shift+Enter causes the cell to be rendered.

The combination of the two provides a rich environment for producing what might be called "computational documents".

Here's how to create a new code cell:

1. Click on the cell immediately _above_ where you want your new cell to appear.
2. Now go up and click on the "+" button (second from left in the row of icons above the page).

**Exercise 1.1:** go ahead and create a code cell below this one. When you've followed the steps, you should see a new (empty) code cell. Now click in the cell, type "1+1" and press_ Shift+Enter. _Voila ! :_ Your first piece of Python code!

In [1]:
1+1

2

Here's how to create a new markdown cell:

1. Repeat the steps above to create a code cell.
2. Notice the dropdown menu above that says "Code": this is the default style for a new cell. Click on that menu and select "Markdown".

**Exercise 1.2:** create an empty markdown cell. Click in the cell and enter some markdown: try typing (without the quotes) `_Hello_ **World**!`, then hit Shift+Enter. Congratulations on your first piece of markdown!

_Hello_ **World**!

For this class, you only need to know how to create code cells and markdown cells containing basic text. However, if you're curious to pick up more formatting tips as you go along, you can always double click on any markdown cell to see the raw text.

It's worth taking some time to become familiar with the other editing commands available in the menus (e.g. cut, paste, etc). There is also an extensive set of keyboard shortcuts to speed things along (see _Help > Keyboard shortcuts_).

## 2. First steps: Python as calculator

One of the most basic uses of Python is as a stand-in for your pocket calculator. The standard arithmetic operators are illustrated in the following examples. Go ahead and evaluate each cell to see the (hopefully expected!) result. (Note the lines beginning with a `#` are _comments_: these are ignored by the Python interpreter and are there for the (human) reader's benefit.)

In [2]:
# addition
1 + 1

2

In [3]:
# subtraction
2 - 1

1

In [4]:
# multiplication
2 * 2

4

In [5]:
# division
3 / 2

1.5

In [6]:
# exponentiation (raising to powers)
2**4

16

The _modulus_ operation may be less familiar if you are new to programming. `x % y` represents the _remainder_ after dividing `x` by `y`:

In [7]:
# modulus (remainder of division)
5 % 2

1

As in normal written mathematics, parentheses `(` and `)` can be used to control priority of operations (if in doubt use them!):

In [8]:
# parentheses
(1 + 1)**2

4

Complex numbers are also built-in. Python uses the engineering notation $j = \sqrt{-1}$ (instead of the usual $i = \sqrt{i}$). Note that when writing a complex number, `j` must always be preceded by a numerical coefficient (otherwise it is interpreted as a variable). Thus, the number $1+\mathrm{i}$ is written `1+1j` rather than `1+j`.

In [12]:
1+1j

(1+1j)

Scientific notation is very important in physics since we often need to work with very large or very small numbers. The following examples show how to use scientific notation to enter numbers in Python:

In [9]:
# avogadro's number
6.02214e23

6.02214e+23

In [10]:
# Planck time (in seconds)
5.391e-44

5.391e-44

**Exercise 2.1:** Evaluate $2^{42}$.

In [11]:
2e42

2e+42

**Exercise 2.2:** Calculate $\frac{1+2\mathrm{i}}{3+4\mathrm{i}}$.

In [13]:
(1+2j)/(3+4j)

(0.44+0.08j)

**Exercise 2.3:** Calculate the rest mass energy $E$ of an electron ($m = 9.109\times 10^{-31}\textrm{kg}$) in Joules, as given by the formula $E = m c^2$ ($c = 2.998 \times 10^8\mathrm{m}\mathrm{s}^{-1}$ is the speed of light).

In [14]:
9.109e-31 * (2.998e8)**2

8.187172843599999e-14

## 3. More advanced math functions

For mathematical functions like $\sqrt{x}$, $\mathrm{sin}(x)$, $\mathrm{e}^x$ and so on, it is necessary to import a _module_. Modules in Python are collections of additional functions that are not built-in to the language. A module must be _loaded_ before any of its functions can be used.

Python comes with a vast _standard library_ of modules providing a wide range of functionality. Python has two modules implementing basic mathematical functions:

1. `math`: implements real-valued functions
2. `cmath`: implements complex-valued functions

Listings of the functions contained in these modules can be found [here](https://docs.python.org/3/library/math.html#module-math) and [here](https://docs.python.org/3/library/cmath.html#module-cmath).

Let's now go and load both modules using the `import` command:

In [29]:
import math
import cmath

To see the difference between the two modules, let's evaluate several trigonometric functions (note that all arguments are in radians):

In [16]:
math.sin(1.0), math.cos(0.0)

(0.8414709848078965, 1.0)

In [17]:
cmath.sin(1.0), cmath.cos(0.0)

((0.8414709848078965+0j), (1-0j))

Notice that, although the results are both mathematically the same, the `cmath` module returns complex numbers even when the result is real.

The real (pardon the pun) advantage of `cmath` over `math` is that it can handle complex arguments:

In [18]:
cmath.sin(1+1j)

(1.2984575814159773+0.6349639147847361j)

In [19]:
# this produces an error!
math.sin(1+1j)

TypeError: ignored

Finally, note that mathematical constants such as $\pi$ and $\mathrm{e}$ are defined:

In [20]:
math.pi, math.e

(3.141592653589793, 2.718281828459045)

**Exercise 3.1:** verify the following identities (by evaluating the left hand sides):

$$
\mathrm{sin}^2\left(\frac{\pi}{3}\right) + \mathrm{cos}^2\left(\frac{\pi}{3}\right) = 1,
\quad
\mathrm{e}^{\mathrm{i}\pi} + 1 = 0
$$

In [22]:
math.sin(math.pi/3)**2 + math.cos(math.pi/3)**2

1.0

In [28]:
cmath.exp((math.pi)*(0+1j))+1

1.2246467991473532e-16j

## 4. Defining variables

The first step in going beyond using Python as a glorified pocket calculator is probably the notion of defining _variables_. Being able to assign the result of some computation to a named variable makes it possible to build up a sophisticated program using a sequence of easily understandable steps.

Here are some ways to assign values (in this case integers) to variables:

In [0]:
a = 1

In [0]:
a = b = c = 2

In [0]:
# compound statement with semicolons
a = 1; b = 2; c = 3

In [0]:
# "tuple assignment" (this is considered a very "Pythonic" idiom!)
a, b, c = 1, 2, 3

Notes:

1. Variable names can use any alphanumeric unicode character, but must start with letter or underscore (_).

2. Now is probably a good time to note that Python is _case sensitive_. Thus `A` is not the same variable name as `a`, `energy` is not the same as `ENERGY` and so on.

3. For all but the simplest programs it is a good idea to use variable names that are descriptive (so avoid `x`, or `my_variable`). The convention for multi-word variables is all lower case, separated by underscore, e.g. `electron_mass`, `speed_of_light` etc.

## 5. Data types

So far, we have been working with numerical data without paying much attention to what the underlying data type might be. Let us now briefly point out the most important basic numerical types in Python (we make use of the built-in function `type`):

In [64]:
# int: arbitrary precision integer
k = 2**100
k, type(k)

(1267650600228229401496703205376, int)

In [65]:
# float: double precision floating point real number
x, c, e = 123.0, 3e8, 1.6e-19
type(x), type(c), type(e)

(float, float, float)

In [70]:
c, type(c), e, type(e), x, type(x)

(300000000.0, float, 1.6e-19, float, 123.0, float)

In [66]:
# complex: double precision floating point complex number
z = 123.0 + 456.0j
z, type(z)

((123+456j), complex)

In addition to numeric data, there are two other elementary types worth mentioning:

In [71]:
# str: a string (either single or double quotes can be used)
s1 = 'abc'
s2 = "abc"
s1, s2, type(s1), type(s2)

('abc', 'abc', str, str)

In [72]:
# bool: a Boolean (True or False)
a = True
b = False
a, b, type(a), type(b)

(True, False, bool, bool)

Variables are _dynamically typed_, hence there are no type declarations (in contrast to a _statically typed_ language such as C).

This means that the type of a variable can change over time (note, however, that this is often bad practice):

In [73]:
# initially...
a = 1
type(a)

int

In [74]:
# subsequently...
a = "one"
type(a)

str

**Type conversions:**

An important case: what happens when you divide two integers?

In [75]:
a, b = 1, 2
print(a/b)

0.5

Clearly, the result is not an integer:

In [76]:
type(a/b)

float

This is an example of _implicit type conversion_: in Python, the division operator returns a `float`, even when the arguments are both integers (and even when the result is an integer):

In [77]:
type(4/2)

float

There are also functions to carry out _explicit_ type conversion:

In [78]:
a = "125.6"
# converting the string into a float and adding 21
b = float(a) + 21
# converting back into a string
c = str(b)
# printing variables a, b, and c
print(a,b,c)

125.6 146.6 146.6

## 5. Logical operators

**Relational operators:**

These compare two arguments and return a boolean (`bool`) value:

In [79]:
5.4 <= 6.

True

In [80]:
math.pi > math.e

True

In [81]:
1 >= 2

False

In [82]:
-1 < 0

True

In [83]:
1 == 1.0

True

In [84]:
1 == 1.000001

False

In [85]:
# not equals
1 != 0

True

**Logical operators:**

These act on one or two boolean variables and return another boolean value:

In [86]:
p, q = True, False
p and q, p or q, not p

(False, True, False)

Notes:

1. These operators are not to be confused with **\&** and **\|**, which are _bitwise operators_ and beyond the scope of these labs.

2. The order of precedence (from high to low) is `not`, `and`, then `or`.

## 6. Basic Input / Output

One basic function that we haven't mentioned yet is `print`. As the name suggests, `print` is for printing stuff to the screen. Here are a couple of examples:

In [87]:
print('Hello world!')

Hello world!

In [88]:
print(1, "plus", 1, "is", 1+1)

1 plus 1 is 2

There are times when we want a program to prompt the user to input data. In Python, this can be done with the `input` function, which reads in user input as a string. Evaluate the following simple program and then enter your name:

In [89]:
your_name = input("Please tell me your name:")
print("Nice to meet you", your_name, "! My name is Monty.")

Please tell me your name:Matthew
Nice to meet you Matthew ! My name is Monty.

Here is a simple program that performs a unit conversion (note how the result of `input` is converted to a `float`!):

In [90]:
mass_in_kg = float(input('Enter your mass in kilograms:'))
mass_in_lb = 2.20462*mass_in_kg
print('Your mass is', round(mass_in_lb, 2), 'pounds.')

Enter your mass in kilograms:2.14
Your mass is 4.72 pounds.

**Exercise 6.1:** using the same approach as the above two examples, write a simple program to convert a temperature from Fahrenheit to Celsius.

## 7. Conditional evaluation: if statements

The `if` statement exists to allow for execution of a block of code only when the supplied _condition_ is met.

There are several variants:

In [0]:
if 1 == 2:
    print("anything goes!")

In [92]:
if 1 == 2:
    print("anything goes!")
else:
    print("everything's fine!")

everything's fine!

In [93]:
if 1 == 2:
    print("anything goes!")
elif 2 == 3:
    print("something's wrong!")
else:
    print("everything's fine!")

everything's fine!

Note that in the above, the body of the `if` statement is indented. This is a general feature of the Python language, which uses indentation to _structure_ code blocks. In most other programming languages, delimiters such as { } are used to denote code blocks (and indenting is ignored). In Python, by contrast, the indentation is _required_. The Python approach may take a little getting used to, but it has the advantage of enforcing the writing of uncluttered, readable code.

Either tabs or spaces can be used for indentation, but they should not be mixed. The recommended style is **4 spaces per indentation level** (this is automatically applied in Jupyter, as in the previous examples).

## 8. Iteration: while loops

**while loops:**
    
The `while` loop executes a block of code repeatedly as long as the supplied condition is satisfied.

In [0]:
i = 0
while i**2 < 60:
    print(i, i**2)
    i += 1
print('done: i =', i)

**Exercise 8.1:** Use a while loop to print out the multiples of 13 between 1 and 100.

In [95]:
i = 1
while i*13 <= 100:
  print(i*13)
  i += 1
print('done: i =',i)

13
26
39
52
65
78
91
done: i = 8

**Exercise 8.2:** Use a while loop to calculate the sum of the squares of the first 100 positive integers.

In [97]:
i = 1
sum = 0
while i <= 100:
  sum += i
  i += 1
print('sum is = ',sum)

sum is =  5050

## 9. Defining your own functions

Functions are called with arguments in parentheses. For example, we've already seen the `float` function:

In [98]:
float('123.456')

123.456

You can also define your own functions.

Here is a function that returns the sum of two arguments:

In [0]:
def my_plus(a, b):
    a_plus_b = a + b
    return a_plus_b

In [100]:
my_plus(1,1)

2

Note that variables defined inside a function are not "visible" from outside the function. In technical parlance, they have _local_ (as opposed to _global_) _scope_:

In [101]:
a_plus_b

NameError: ignored

Note that functions don't actually _need_ to return anything. Here is a function that just prints something (this is sometimes referred to as a _side effect_):

In [33]:
def print_sign(n):
    if n > 0:
        print(n, 'is positive')
    elif n == 0:
        print(n, 'is zero')
    else:
        print(n, 'is negative')

In [34]:
i = -3
while i < 4:
    print_sign(i)
    i += 1

-3 is negative
-2 is negative
-1 is negative
0 is zero
1 is positive
2 is positive
3 is positive

More precisely, the default return value is `None` when the function doesn't include a `return` statement:

In [105]:
x = print_sign(1); print(x)

1 is positive
None

It is also possible to add default values for arguments, which makes them _optional_:

In [0]:
def raise_to_power(x, n=2):
    return x**n

In [107]:
raise_to_power(2,3)

8

In [108]:
raise_to_power(2)

4

**Exercise 9.1:** Define a function, `foobar`, which takes a (positive integer) argument `n` and, for each integer $k$ from $1$ to $n$:
* prints "foo", if $k$ is a multiple of 3
* prints "bar", if $k$ is a multiple of 5
* prints "foobar", if $k$ is a multiple of both 3 and 5
* prints nothing otherwise

Show that your code works correctly by evaluating `foobar(60)`.

In [0]:
def foobar(n):
  if ((n % 3==0) and (n % 5 ==0)):
    print('foobar')
  elif n % 3==0:
    print('foo')
  elif n % 5 == 0:
    print('bar')

In [125]:
foobar(3)

foo

In [126]:
foobar(5)

bar

In [127]:
foobar(15)

foobar

In [0]:
foobar(7)

## Project: Calculating time of flight for object in free-fall

Jingbo's idea: use finite differences to calculate the trajectory of a ball (say), dropped from some initial height. Subject to the force of gravity, initially no air resistance. Since we haven't introduced lists yet, the goal is to iterate in steps of dt until height <= 0. The result is the final value of t.

If this seems too easy, we can add the case of air resistance as a follow-up.